<!--
    MrJ
    Bankify.Web
    7/12/2024
-->

<!DOCTYPE html>
<html>
<head>
    <title>Withdraw</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Withdraw</h1>

        <form method="post">
            <div class="form-group">
                <label for="amount">Amount</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" step="0.01" class="form-control" id="amount" name="amount" placeholder="0.00" required>
                </div>
            </div>
            <button type="submit" class="btn btn-danger">Withdraw</button>
        </form>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% for category, message in messages %}
                            <div class="alert alert-custom alert-custom-{{ category }} text-center">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
